<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/home.css">
	<title>The Official page for the Uruguay International Football Team</title>
</head>
<body>
	<h1>Welcome to The Official page for the<br>Uruguay International Football Team</h1>
	<div class="route_div", id="current_info">
		<h2>Current Info</h2>
		<p>In this page, you will find anything you would like to know about the the Current "La Celeste", our players, stadium and more...</p>
		<a href="/info_page"> <button class="buttons_home">Click here to Continue</button> </a>
	</div>

	<div class="route_div", id="history">
		<h2>Our History</h2>
		<p>In this page, you will find anything you would like to know about the History of the "La Celeste", our trophies, achievments, legendary players and more...</p>
		<a href="/history_page"> <button class="buttons_home">Click here to Continue</button> </a>
	</div>

	<div class="route_div", id="quiz">
		<h2>Quiz</h2>
		<p>In this page, you can test your knowledge about "La Celeste", trying to face our Quiz!</p>
		<a href="/quiz_page"><button class="buttons_home">Click here to Continue</button> </a>
	</div>
</body>
</html>